@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #3e3a39;
  font-family: "Didot", "游ゴシック体", serif;
  font-feature-settings: "palt";
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
}

body {
  color: #3e3a39;
  font-family: "Didot", "游ゴシック体", serif;
  font-feature-settings: "palt";
  background-color: #ffff;
}
html {
  scroll-behavior: smooth;
}
/* コンテンツ幅 */
.container {
  max-width: 1000px;
  margin: 0 auto;
}
header {
  padding: 20px 0;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  height: 40px;
}
.pc_nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #3e3a39;
  font-family: "Didot", serif;
  font-size: 18px;
}
.Works {
  padding: 80px 0;
  text-align: center;
}

.section_title h2 {
  font-family: "Didot", serif;
  margin-bottom: 0px;
  font-size: 23px;
}
.filter {
  display: flex;
  font-size: 14px;
  gap: 10px;
  margin: 30px 0;
  justify-content: center;
}
.filter button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin: 0 auto;
  padding: 10px 20px;
  margin: 0 20px;
}
.filter button:hover {
  border-bottom: 2px solid #1a98a4;
  padding-bottom: 2px;
}
.filter button.active {
  border-bottom: 2px solid #1a98a4;
}
/* 4列グリッド */
.works-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.works-item {
  background-color: white;
  padding: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  aspect-ratio: 1 / 1;
  overflow: hidden;
  cursor: pointer;
}
.works-item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
.works-item.inactive {
  opacity: 0.3; /* 薄くする */
}
/* aboutここから */
.about {
  background-color: #c9caca;
  padding: 100px 0;
}
.about_container {
  max-width: 1000px;
  margin: 0 auto;
}
.my_information {
  display: flex;
  align-items: center;
  gap: 80px;
  justify-content: center;
  margin-bottom: 80px;
}

.myface img {
  width: 200px;
}

.section_title {
  font-family: "Didot", serif;
  margin-bottom: 60px;
  text-align: center;
}
.about_text {
  max-width: 400px;
}
.name {
  font-size: 28px;
  margin-bottom: 10px;
}
.location {
  font-size: 20px;
  margin-bottom: 20px;
}
.introduce {
  font-size: 14px;
  line-height: 1.8;
  text-align: justify;
  text-justify: inter-ideograph;
  line-break: strict;
  word-break: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.history_area {
  border-top: 1px solid #3e3a39;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 800px;
  margin: 0 auto;
  gap: 80px;
}
.history_title {
  font-weight: normal;
  font-size: 20px;
  width: 200px;
  text-align: center;
}
.history {
  text-align: left;
  width: 400px;
}

.history p {
  margin-bottom: 10px;
}
/* aboutここまで */
/* ここからコンタクト */
.contact {
  padding: 80px 0;
  text-align: center;
}

.contact h2 {
  font-family: "Didot", serif;
  margin-bottom: 40px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

label {
  display: block;
  margin-top: 20px;
  font-size: 14px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #3e3a39;
  margin-top: 5px;
  background: transparent;
  box-sizing: border-box;
}

textarea {
  height: 150px;
  resize: none;
}

button {
  display: block;
  margin: 30px auto 0;
  padding: 10px 30px;
  border: 1px solid #3e3a39;
  background: transparent;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 25px;
  gap: 20px;
  background-color: #c9caca;
}
.footer_logo img {
  width: 300px;
}
.sns_logo {
  gap: 15px;
  display: flex;
  justify-content: center;
}
.sns_logo img {
  width: 40px;
}
footer p {
  font-size: 20px;
}
.hamburger {
  display: none;
}

.sp_nav {
  display: none;
}
.remodal img {
  width: 100%;
  max-width: 500px;
  height: auto;
}
.remodal-info {
  text-align: left;
  margin-top: 15px;
}

.remodal-info p {
  margin: 5px 0;
  font-size: 13px;
}

.remodal-info p span:first-child {
  font-weight: bold;
  margin-right: 10px;
  min-width: 80px;
  display: inline-block;
}
.remodal-info {
  text-align: left;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}
.remodal-info p {
  display: flex;
  gap: 10px;
  margin: 5px 0;
  font-size: 13px;
  line-height: 1.8;
}

.remodal-info p span:first-child {
  min-width: 90px;
  font-weight: bold;
  flex-shrink: 0;
}
/* thanks.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.thanks-page {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.thanks-wrap {
  text-align: center;
  padding: 60px 20px;
}

.thanks-title {
  font-size: 2.5rem;
  color: #1a98a4;
  font-family: Didot;
  margin-bottom: 30px;
}

.thanks-balloon {
  position: relative;
  border: 1.5px solid #3e3a39;
  border-radius: 20px;
  padding: 36px 48px;
  display: inline-block;
  margin-bottom: 0;
  font-size: 0.9rem;
}
.thanks-ballon p {
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.thanks-img {
  width: 80px;
  margin: 20px auto 30px;
  display: block;
}

.thanks-btn {
  display: inline-block;
  border: 2px solid #fff67f;
  background: #fff67f;
  padding: 12px 32px;
  text-decoration: none;
  color: #3e3a39;
  font-size: 0.95rem;
}

.thanks-btn:hover {
  opacity: 0.8;
}
.thanks-ballon-material {
  width: 350px;
}
.thanks-btn {
  display: inline-block;
  border: 2px solid #3e3a39;
  background: #fff67f;
  padding: 16px 48px;
  text-decoration: none;
  color: #3e3a39;
  font-size: 1rem;
  letter-spacing: 0.1em;
}
.arrow-right {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 10px;
  border-top: 2px solid #3e3a39;
  border-right: 2px solid #3e3a39;
  transform: rotate(45deg);
}
.remodal-prev,
.remodal-next {
  position: fixed;
  top: 50vh;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 99999;
  padding: 16px;
}
.remodal-prev {
  left: 8px;
}
.remodal-next {
  right: 8px;
}
.remodal-prev::after,
.remodal-next::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-top: 1.5px solid #3e3a39;
  border-right: 1.5px solid #3e3a39;
}
.remodal-prev::after {
  transform: rotate(-135deg); /* 左向き */
}
.remodal-next::after {
  transform: rotate(45deg); /* 右向き */
}
.list-btn {
  grid-column: 1 / -1;
  width: 100%;
  text-align: right;
  margin-top: 40px;
  padding-right: 0%;
}

.list-btn #more-btn {
  margin: 0 0 0 auto;
  display: inline-block;
}

@media (max-width: 768px) {
  /* ヘッダー */
  .header-inner {
    padding: 0 20px;
  }
  .pc_nav {
    display: none;
  }

  /* Works */
  .filter {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 500px;
    width: 80%;
    margin: 30px auto;
  }

  .list-btn {
    width: 100%;
    text-align: center;
    padding-right: 0;
    margin-top: 30px;
    display: block;
  }
  .list-btn #more-btn {
    margin: 30px auto 0;
    display: inline-block;
  }

  .filter button {
    border: 1px solid #3e3a39;
    padding: 8x 0;
    font-size: 14px;
    margin: 0px;
    width: 40%;
    height: 60px;
    font-family: Didot;
  }
  .filter button:hover {
    background: none;
    color: #3e3a39;
    border: 1px solid #3e3a39;
    padding: 8px 0;
  }
  .filter button.active {
    background-color: #1a98a4;
    border-color: #3e3a39;
    color: #fff;
  }
  .works-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 80px;
    margin-top: 40px;
  }
  .works-item {
    width: 70%;
    margin: 0 auto 40px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  }
  .works-item.is-hidden {
    display: none;
  }
  .works-item.is-show {
    display: block;
  }

  /* About */
  .my_information {
    flex-direction: column;
    gap: 30px;
  }
  .about_text .name,
  .about_text .location {
    text-align: center;
    width: 100%;
    display: block;
  }
  .about_text .introduce {
    text-align: left;
  }
  .history_area {
    flex-direction: column;
    gap: 30px;
    padding: 20px;
  }
  .history_area {
    text-align: center;
  }
  .history {
    text-align: left;
    font-size: 16px;
    width: 100%;
    padding: 0 80px;
  }
  .history_title {
    width: 100%;
  }

  /* Contact */
  .form {
    width: 90%;
  }

  /* Footer */
  .footer_logo img {
    width: 200px;
  }

  /* Thanks */
  .thanks-ballon-material {
    width: 90%;
  }
  .thanks-balloon {
    padding: 24px 20px;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 1000;
  }

  .hamburger span {
    display: block;
    width: 28px;
    height: 2px;
    background: #3e3a39;
    position: absolute;
    transition:
      transform 0.35s ease,
      opacity 0.2s ease,
      top 0.35s ease;
  }

  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 17px;
  }
  .hamburger span:nth-child(3) {
    top: 24px;
  }

  .hamburger.open span:nth-child(1) {
    top: 17px;
    transform: rotate(45deg);
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open span:nth-child(3) {
    top: 17px;
    transform: rotate(-45deg);
  }

  .sp_nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 100;
    justify-content: center;
    align-items: center;
  }

  .sp_nav.open {
    display: flex;
  }

  .sp_nav ul {
    list-style: none;
    text-align: center;
  }

  .sp_nav ul li {
    margin: 24px 0;
    border: 1px solid #3e3a39;
    width: 160px;
    margin: 24px auto;
  }

  .sp_nav ul li a {
    font-size: 24px;
    text-decoration: none;
    color: #3e3a39;
    display: block;
    padding: 16px 40px;
  }
  .sp_nav_inner {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sp_nav .logo {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .sp_nav .logo img {
    width: 180px;
  }
  .thanks-ballon-material {
    width: 100%;
  }
  .remodal-prev,
  .remodal-next {
    position: fixed;
    top: 50vh;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 99999;
    padding: 16px;
  }
  .remodal-prev {
    left: 8px;
  }
  .remodal-next {
    right: 8px;
  }
  .remodal-prev::after,
  .remodal-next::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 1.5px solid #3e3a39;
    border-right: 1.5px solid #3e3a39;
  }
  .remodal-prev::after {
    transform: rotate(-135deg); /* 左向き */
  }
  .remodal-next::after {
    transform: rotate(45deg); /* 右向き */
  }
}
